<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="bg-dark bg-gradient vh-100">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
            <img src="imgs/logo.png" alt="" width="60" height="60" class="d-inline-block align-text-top me-2">
            <span class="fw-bold">FormApp</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a th:if="${username} != null" class="btn btn-outline-success me-2 mt-2" type="button" href="/capturar-respuesta">Capturar respuesta</a>
                <a th:if="${username} != null" class="nav-link active text-center mt-2" aria-current="page" href="/listar-formulario">Registro de respuestas</a>
                <a th:if="${username} == null" class="nav-link active text-center mt-2" aria-current="page" href="/login">Iniciar Sesi&oacute;n</a>
                <a th:if="${admin}" class="nav-link active text-center mt-2" aria-current="page" href="/listar-usuario">Listar Usuario</a>
                <a th:if="${username} != null" class="nav-link active text-center mt-2" aria-current="page" href="/logout">Cerrar Sesi&oacute;n</a>
            </div>
        </div>
    </div>
</nav>

<div class="container container-fluid text-white mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 p-4">
            <div th:if="${error}" class="alert alert-danger mb-5" role="alert">
                El usuario o la contrase&ntilde;a son incorrectos.
            </div>
            <h2 class="text-center mb-4 fw-bold">Registrar nuevo usuario</h2>
            <form method="post" action="/procesar-registro">
                <div class="mb-3 mt-5">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contrase&ntilde;a</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div>
                    <label for="nombre" class="form-label">Nombre completo</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-check form-switch d-flex justify-content-center align-items-center mt-4">
                    <input class="form-check-input me-3" type="checkbox" id="admin" name="admin">
                    <label class="form-check-label" for="admin">Permisos de Administrador</label>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4">Crear usuario</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
